*{
    font-family: "Cascadia Code", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}

body{
    background-color: red;
    margin: 5px;
    
}

li, a {
    text-decoration: none;
    font-size: 28px;
    list-style-type: none;
    color: red;
}

header{
    align-items: center;
    padding: 0px 10px 0px 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 15px 0px;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav > h1{
    font-size: 45px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin: 0px;
    font-family:monospace, 'Arial Narrow Bold', sans-serif
}
.navegacao{
    margin: 0px 0px;
    display: flex;
    justify-content: center
}
.navegacao li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 90px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.floating-button {
    position: fixed;
    bottom: 40px; /* Distância do rodapé */
    right: 20px; /* Distância da borda direita */
    background-color: rgb(0, 194, 0); /* Cor de fundo */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 30px; /* Botão redondo */
    cursor: pointer; /* Cursor de ponteiro */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra */
    z-index: 1000; /* Garante que o botão esteja acima dos outros elementos */
    display: flex;
    padding-inline: 10px;
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    color: rgb(255, 255, 255);
  }

  .floating-button img {
    display: inline-block;
    padding-right: 5px;
    width: 20px; /* Largura da imagem */
    height: 20px; /* Altura da imagem */
  }

.floating-button:hover {
    background-color: rgb(0, 255, 0);
    box-shadow: 0px 0px 40px 0px ;
}

main{
    margin-top: 170px;
    background-color: rgb(240, 240, 240);
    border-radius: 0px 10px 0px 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.apresent{
    display:inline-flex;
    padding: 10px 10px 0px 10px;
    text-align:left;
}

.apresent img{
    width: 190px;
    height:210px;
}

main .apresent p{
   display: flex;
   font-size: 28px;
   padding-left: 10px;
   text-align: justify;
}
.divisoria {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 28px;
    color: red;
}

.conteiner{
    background-image: url(images/background2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 6px rgba(0, 0, 0, 0.473);
    border-radius: 15px;
    padding-top: 80PX;
}

.conteiner img{
    display: flex;
    margin: auto;
    width: 80%;
    height: 160%;
    border-radius: 15px 15px;
    margin-top: 20px;
    
}

.conteiner img:hover{
    display: flex;
    border-radius: 15px 15px;
    box-shadow: 0px 0px 40px 0px;
}

.conteiner2{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 6px rgba(0, 0, 0, 0.473);
    border-radius: 15px;
    padding-top: 120PX;
}

.conteiner2 img{
    display: flex;
    margin: auto;
    width: 80%;
    height: 160%;
    border-radius: 15px 15px;
    margin-top: 20px;
    
}

.conteiner2 img:hover{
    display: flex;
    border-radius: 15px 15px;
    box-shadow: 0px 0px 40px 0px;
}

.modelo{
    color:red;
    background-color: white;
    text-align: center;
    margin-bottom: 0px;
}

.eu{
    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: bolder;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 180px;
}
.eu img{
    width: 150px;
    height:190px;
    margin: auto;
}


footer{
    background-color: black;
    color: white;
    font-size: 8px;
    text-align: center;
}

/*FUNDO EM DEGRADE ANIMADO*/

body{
   background: linear-gradient(to right, #ff0000 0%,#e90707 19%,#aa4646 40%,hsl(0, 100%, 50%) 60%,#ee2020 83%,#df0d0d 100%); 
  background-size: 10000px 100%;
  animation: bg 10s linear infinite ;
}
@keyframes bg{
  0%{
    background-position-x: 0;
  }
  
  100%{
    background-position-x: 10000px ;
  }
}

/*COMEÇO DE AJUSTES PARA RESPONSIVIDADE*/

@media (max-width: 767px){
    li, a {
        text-decoration: none;
        font-size:12px;
        list-style-type: none;
        color: red;
}

header{
    align-items: center;
    padding: 0px 10px 0px 10px;
    background-color: white;
    box-shadow: 0px 1px 15px 0px;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.floating-button {
    position: fixed;
    bottom: 40px; /* Distância do rodapé */
    right: 10px; /* Distância da borda direita */
    background-color: rgb(0, 194, 0); /* Cor de fundo */
    padding: 10px 10px; /* Espaçamento interno */
    border-radius: 30px; /* Botão redondo */
    cursor: pointer; /* Cursor de ponteiro */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra */
    z-index: 1000; /* Garante que o botão esteja acima dos outros elementos */
    display: flex;
    padding-inline: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin: auto;
}
  
nav > h1{
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin: 0px;
    font-family:monospace, 'Arial Narrow Bold', sans-serif
}
.navegacao{
    margin: 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.navegacao li {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
    margin-top: 30px;
}
    nav h1{
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-family:monospace, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
  main .apresent p{
    display: flex;
    font-size: 13px;
    padding-left: 10px;
    text-align: left;
}
 main .apresent img{
    display: flex;
    width: 80px;
    height: 100px
}
    
main{
    margin-top: 130px;
    background-color: rgb(240, 240, 240);
    border-radius: 0px 10px 0px 10px;
    margin-bottom: 20px;
}
    
section img{
    display: flex;
    margin: auto;
    width: 40%;
    height: 100%;
    margin: 0 30% 10% 30%;
    border-radius: 15px 15px;
    
}
}

